*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background: rgb(173, 171, 169);
    width: 100%;
    height: 100vh;
}
.navigbar{
    display: flex;
    position: sticky;
    width: 100%;
    height: 58px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(134, 124, 124);
    overflow: visible;
}
.navig1{
    display: flex;
    flex: 1;
    width: 100px;
    min-width: 0px;
    background: rgb(255, 255, 255);
    align-items: center;
}
.logo{
    display: flex;
    width: 48px;
    height: 47px;
    margin-left: 15px;
    border-radius: 30px;
    align-items: center;
}
.navig1 input{
    display: flex;
    flex: 1;
    height: 43px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color:   rgb(233, 230, 230);
    border: none;
    font-size: 16px;
    padding-left: 10px;
    min-width: 0px;
    width: 200px;
    display: none;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 44px;
    height: 43px;
    background-color: rgb(233, 230, 230);
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-radius: 22px;
    cursor: pointer;
    border: none;
}
.search img{
    width: 20px;
}
.menu{
    margin-left: 10px;
    width: 44px;
    height: 43px;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    display: none;
    border: none;
    cursor: pointer;
}
.menu img{
    margin-top:2px;
    width: 30px;
}
.navig1 input::placeholder{
    font-size: 15px;
    padding-left: 10px;    
}
.navig2{
    display: flex;
    background: rgb(255, 255, 255);
    width: 500px;
    min-width: 370px;
    align-items: center;
    justify-content: space-between;
}
.navig2 a:hover{
    background-color: rgb(253, 248, 248);
    border-bottom: 3px solid rgb(50, 50, 161);

}
.navig2 button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    margin-right: 10px;
    border: none;
    background-color: white;
    
}
.navig2 button img{
    display: flex;
    position: relative;
    width: 32px;

}
#resize{
    width: 26px;
}
#resize1{
    width: 33px;
}

.navig3{
    flex-direction: column;
    flex: 1.3;
    background: white;
    padding-right: 5px;
    align-items: end;
    justify-content: center;
}
.navig3a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;

}
.navig3b{
    display: none;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 3px gray;
    border-bottom-left-radius: 20px;
    padding: 5px 5px 5px 5px;
    z-index: 300;
    margin-top: 10px;
}
.navig3 button img{
    width: 20px;
}
.main-container{
  display: flex;
}
.navig3 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 227, 227);
    padding: 2px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.navig3 button:hover{
    background-color: rgb(164, 225, 240);

}
